<h1>{{title}}</h1>
<p>Movie Detail</p>
<br>
<p><a href="/">Home</a> <a href="/movies">Back to Movies</a></p>
<br>
<h2>{{movie.title}} ({{movie.year}})</h2>
<h3>Directed by {{movie.director}}</h3>
<h3>Rating: {{movie.rating}}</h3>
<img src="{{movie.poster_url}}">
<br>
<a href="">Edit</a> <a href="">Delete</a>
